assets/*
_artifacts/
_ss_environment.php
silverstripe-cache/
crontask/
silverstripe.log
.buildpath
.project
.settings
.idea
.DS_Store
/vendor/
/nbproject
/cms/
/framework/
html5/
userforms/
*.scssc
web.config
/environmentcheck
/raygun/
/testsession/
error.log
debug.log
non-debug.log
/jira-behat.yml/
/silverstripe-phockito/
TESTS_RUNNING.json
/datedupdates/
/external-content/
/staticsiteconnector/
/embargoexpiry/
/multivaluefield/
/queuedjobs/
/linkable/
/json-userforms/
aws
googlesitemaps
redirectedurls
gridfieldextensions
gridfield-bulk-editing-tools